@font-face {
  font-family: "StratosSkyeng";
  src: url(./fonts/Stratos/stratosskyengweb-black.woff2),
    url(./fonts/Stratos/stratosskyengweb-black.woff),
    url(./fonts/Stratos/stratosskyengweb-blackitalic.woff2),
    url(./fonts/Stratos/stratosskyengweb-blackitalic.woff),
    url(./fonts/Stratos/stratosskyengweb-bolditalic.woff2),
    url(./fonts/Stratos/stratosskyengweb-bolditalic.woff),
    url(./fonts/Stratos/stratosskyengweb-extrabold.woff2),
    url(./fonts/Stratos/stratosskyengweb-extrabold.woff),
    url(./fonts/Stratos/stratosskyengweb-extrabolditalic.woff2),
    url(./fonts/Stratos/stratosskyengweb-extrabolditalic.woff);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "StratosSkyeng";
  src: url(./fonts/Stratos/stratosskyengweb-regular.woff2),
    url(./fonts/Stratos/stratosskyengweb-regular.woff);
  font-weight: 400;
  font-style: normal;
}



body {
  font-family: "StratosSkyeng"
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 158px 272px 157px 272px;
  justify-content: center;
  align-items: center;
  background: var(--blue-120, #004980);
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  width: 480px;
  height: 459px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #C2F5FF;
}

.level-text {
  margin: 52px 136px 0px 136px;
  color: #004980;
  text-align: center;

  /* Pres → Text M */
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 120% */
}

.level-numbers {
  display: flex;
  gap: 24px;

}

.level-numbers input[type="radio"] {
  margin-top: 48px;
  gap: 26px;
  font-weight: 400;
}

.level-numbers input[type="radio"] {
  display: none;
}

.level-numbers label {
  cursor: pointer;
}

.level-numbers input[type="radio"]:checked+label {
  background-color: #d0ffb7;
  border: 1px solid #1CA92E;
}

.level-numbers label:hover {
  background-color: #d0ffb7;
  border: 1px solid #1CA92E;
}


.level-numbers-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 48px;

  width: 97px;
  height: 98px;
  background-color: #ffffff;

  color: var(--blue-100, #0080C1);
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.level-button {
  display: flex;
  width: 246px;
  height: 48px;
  justify-content: center;
  align-items: center;

  margin-top: 67px;

  border-radius: 12px;
  background: #7AC100;
  border-width: 0px;

  color: #FFF;

  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
}